<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%= stylesheet_link_tag "window", :media => "all" %>
  </head>

  <body>
    <header>
      <%= link_to image_tag("logo.png", :alt => "Hackerboard"), root_path %>
    </header>

    <%= render "shared/flash_messages" %>

    <div class="content">
      <section class="main">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
